body { 
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#4d4d4d;
 }
table { 
    width: 50%; margin: auto; 
    border-collapse: collapse;
 }
th, td { 
    background-color: rgb(107, 104, 104);
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
 }
.hidden { 
    display: none; 

}
.azulsin{
    color: rgb(255, 255, 255);
}#sport{
    background-color: rgb(255, 255, 255);
    padding-top: 5px ;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 6px;
    color: black;
}
#score{
    background-color: rgb(255, 255, 255);
    padding-top: 5px ;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 6px;
}
button{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
h2{
    color: rgb(43, 41, 161);
}

